nav{
	color: #ffffff;
	background-color: #CCCCCC;
}
nav ul {
	margin: 0%;
	padding: 0.5% 2%;
}
nav li {
	display: inline;
	padding-right: 2%; 
}
nav li a {
	color: #ffffff;}
nav li a:hover, nav li a.current {
	color: #000000;}
body{
	font-family: sans-serif;
	background: #F2FFF3;
}
.navbar_1{
	background-color: #4388CC;
}



.Form_Daftar{
	width: 100%;
	height: auto;
	font-size: 12pt;
	margin-bottom: 20px;
	padding: 1%;
	color: black;
}
.kotak_daftar{
	width: 20%;
	background:transparent;
	border: 1.5px rgba(50, 50, 50, 0.2)solid;
	border-radius: 10px;
	margin bottom: 5%;
	margin-top: 6%;
	margin-right: 38%;
	margin-left: 38%;
	padding: 2% 2%;
}
.button_daftar{
	text-align: center;
}
.Menu{
	color: white;
}
.Ket_Telepon{
	font-size: 13px;
	color: #666666;
}
.Persetujuan{
	font-size: 11pt;
	color: black;
}
.Daftar{
	font-size: 18pt;
	color:black;
	letter-spacing: 1px;
	text-align: center;
}
.linkbutton{
	text-decoration: none;
	/*background-color: #eeeeee;*/
	/*color: black;*/
	padding: 1.5%;
/*	padding: 5px 15px 5px 15px;*/
	/*border: 1px solid #c2c2c2;*/
	border-radius:2px;
	font-size: 0.9rem;
	/*margin-left: 20px;*/
	border:0.14% solid #6495ED;
    background-color: #6495ED;
    color:#fafafa;
    margin-left: 39.5%;
}