nav{
	display: block;
}
header {
	height: 160px;
	background-color: #CCCCCC;
}
h1 {
	text-indent: -9999px;
	width: 940px;
	height: 130px;
	margin: 0px;
}
nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #CCCCCC;
	height: 30px;
}
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}
nav li {
	display: inline;
	margin-right: 40px;
}
nav li a {
	color: #ffffff;}
nav li a:hover, nav li a.current {
	color: #000000;}






.Form_Daftar{
	width: 100%;
	height: auto;
	font-size: 12pt;
	margin-bottom: 20px;
	padding: 1%;
	color: black;
}
.kotak_daftar{
	width: 20%;
	background:transparent;
	border: none;
	margin bottom: 20%;
	margin-top: 1%;
	margin-right: 38%;
	margin-left: 38%;
	padding: 2% 2%;
}
.navbar_1{
	background-color: #4388CC;
	padding: 1px;
}
.button_daftar{
	text-align: center;
}
body{
	font-family: sans-serif;
	background: #F2FFF3;
}
.Menu{
	color: white;
}
.Ket_Telepon{
	font-size: 13px;
	color: #666666;
}
.Persetujuan{
	font-size: 11pt;
	color: black;
}
.Daftar{
	font-size: 18pt;
	color:black;
	letter-spacing: 1px;
	text-align: center;
}