nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #CCCCCC;
	height: 30px;
}
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}
nav li {
	display: inline;
	margin-right: 40px;
}
nav li a {
	color: #ffffff;}
nav li a:hover, nav li a.current {
	color: #000000;}

	

.Welcome{

}
.PageHome{

}
.gbr1{ 
	margin bottom: 40%;
	margin-top: 1%;
	margin-right: 60%;
	margin-left: 2%;
}
.gbr2{
	margin bottom: 20%;
	margin-top: 1%;
	margin-right: 38%;
	margin-left: 38%;

}
.konten{
	font-size: 12pt;
	color: black;
}
.Welcome{
	font-size: 13pt;
	color:black;
}

img.gbr1{
	float:right;
	margin:5px;
}
img.gbr2{
	float:right;
	margin:5px;
}
img.gbr3{
	float:left;
	margin:5px;
}
img.gbr4{
	float:left;
	margin:5px;
}