nav{
	color: #ffffff;
	background-color: #CCCCCC;
}
nav ul {
	margin: 0%;
	padding: 0.5% 2%;
}
nav li {
	display: inline;
	padding-right: 2%; 
}
nav li a {
	color: #ffffff;}
nav li a:hover, nav li a.current {
	color: #000000;}
body{
	font-family: sans-serif;
	background: #F2FFF3;
}
.navbar_1{
	background-color: #4388CC;
}


body{
	font-family: sans-serif;
	background: #F2FFF3;
	margin-top: 1px;
}


.clear{
	clear: both;

}


/*bagian sidebar*/
.sidebar{
	margin-top:2%;
	float: left;
	width: 19%;
	height: 30%;
	display: inline-flex;
}
.sidebar2{
	margin-top: 2%;
	float: right;
	width: 19%;
	height: 30%;
}

/*akhir sidebar*/

.badan {
	margin-top: 1%;
	float: left;
	width: 90%;
	height: 60%;
	padding:0.2%;
}


.content{
	text-align: center;
	margin-left: 25%;
	margin-top: 4%;
}
img.gambar{
	border: 1px solid black;
}
