nav{
	color: #ffffff;
	background-color: #CCCCCC;
}
nav ul {
	margin: 0%;
	padding: 0.5% 2%;
}
nav li {
	display: inline;
	padding-right: 2%; 
}
nav li a {
	color: #ffffff;}
nav li a:hover, nav li a.current {
	color: #000000;}
body{
	font-family: sans-serif;
	background: #F2FFF3;
}
.navbar_1{
	background-color: #4388CC;
}


form {
    width:37.4%;
    position: relative;
    margin: 2%;
}



.search {
    padding:1.6%;
    background:rgba(50, 50, 50, 0.2);
    border:none;
}
.button {
    position:relative;
    padding:1.2%;
    left:-0.9%;
    border:0.14% solid #6495ED;
    background-color: #6495ED;
    color:#fafafa;
}
.button: hover {
    background-color:#fafafa;
    color:#207cca;
}



#All{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#A{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#B{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#C{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#D{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#E{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#F{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#G{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#H{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#I{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#J{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#K{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#L{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#M{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#N{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#O{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#P{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#Q{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#R{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#S{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#T{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#U{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#V{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#W{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#X{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#Y{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
#Z{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
}
.All{
	display: none;
}
.A{
	display: none;
}
.B{
	display: none;
}
.C{
	display: none;
}
.D{
	display: none;
}
.E{
	display: none;
}
.F{
	display: none;
}
.G{
	display: none;
}
.H{
	display: none;
}
.I{
	display: none;
}
.J{
	display: none;
}
.K{
	display: none;
}
.L{
	display: none;
}
.M{
	display: none;
}
.N{
	display: none;
}
.O{
	display: none;
}
.P{
	display: none;
}
.Q{
	display: none;
}
.R{
	display: none;
}
.S{
	display: none;
}
.T{
	display: none;
}
.U{
	display: none;
}
.V{
	display: none;
}
.W{
	display: none;
}
.X{
	display: none;
}
.Y{
	display: none;
}
.Z{
	display: none;
}

.tulisanPojok{
	position: relative;
	margin-left: 1.09%;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #4388CC;

}
