nav{
	color: #ffffff;
	background-color: #CCCCCC;
}
nav ul {
	margin: 0%;
	padding: 0.5% 2%;
}
nav li {
	display: inline;
	padding-right: 2%; 
}
nav li a {
	color: #ffffff;}
nav li a:hover, nav li a.current {
	color: #000000;}
body{
	font-family: sans-serif;
	background: #F2FFF3;
}
.navbar_1{
	background-color: #4388CC;
}



.kotak_profil{
	width: 30%;
	background:transparent;
	border: 1.5px rgba(50, 50, 50, 0.2)solid;
	border-radius: 10px;
	margin bottom: 5%;
	margin-top: 2%;
	margin-left: 34%;
	padding: 2% 2%;
	text-align: center;
}
.bio{
	width: 90%;
	background:transparent;
	margin bottom: 5%;
	margin-top: 6%;
	margin-right: 3%;
	margin-left: 3%;
	padding: 2% 2%;
	text-align: center;
}
.linkbutton{
	text-decoration: none;
	padding: 1.5%;
	font-size: 0.9rem;
	border-radius:4px;
	border:0.14% solid #6495ED;
    background-color: #6495ED;
    color:#fafafa;
    text-align: center;
}
.color{
	color:#6488CC;
}
