nav{
	color: #ffffff;
	background-color: #CCCCCC;
	height: 30px;
}
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}
nav li {
	display: inline;
	margin-right: 40px;
}
nav li a {
	color: #ffffff;}
nav li a:hover, nav li a.current {
	color: #000000;}

.kotak_login{
	width: 20%;
	background:transparent;
	border: none;
	margin bottom: 20%;
	margin-top: 1%;
	margin-right: 38%;
	margin-left: 38%;
	padding: 2% 2%;
}
.Form_login{
	width: 100%;
	height: auto;
	font-size: 12pt;
	margin-bottom: 20px;
	padding: 1%;
	color: black;
}
.navbar_1{
	background-color: #4388CC;
	padding: 1px;
}
body{
	font-family: sans-serif;
	background: #F2FFF3;
}
.Login{
	font-size: 18pt;
	color:black;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 5%;
}
.link-button{
	text-decoration: none;
	background-color: #eeeeee;
	color: black;
	padding: 2px 5px 2px 5px;
	border: 1px solid #c2c2c2;
	border-radius:2px;
	font-size: 0.9rem;
	margin-left: 115px;
}
.linkdaftar{
	margin-left: 120px;
}
